<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
    <head>
        <meta charset="UTF-8">
        <title>Angular Material Basic App</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1" />
    </head>
    <body layout="column" ng-controller="UserController as ul">

    <md-toolbar layout="row">
        <h3>Angular Material</h3>
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" >
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
    </md-toolbar>

    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"  md-component-id="left" ng-click="ul.toggleList()"  class="md-whiteframe-4dp">
            <md-list>
                <md-list-item ng-repeat="u in ul.users">
                    <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                        <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                        {{u.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content">
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>

            <md-button class="share" >
                <md-icon md-no-ink md-svg-icon="share" ng-click="ul.shareContact(ul.selected)" ></md-icon>
            </md-button>

        </md-content>
    </div>


        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/UserController.js"></script>
        <script src="assets/js/UserService.js"></script>
    </body>
</html>
